@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url(imagenes/fondo1.png);
 
  color: #0b4553;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}
.brand {
  margin-top: -7px;
}
.brand span {
  color: rgb(12, 106, 122);
}
.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.menu  li {
  list-style: none;

}
.menu a {
  color: #066a77;
  text-decoration: none;
  padding: 10px 20px; 
  font-weight: bolder;
  
}

.menu li:hover a{
  background-color: rgb(11, 90, 90);
  color: #191c32;
  border-radius: 10px;
  box-shadow: rgb(7, 143, 161);
}

.menu .active {
  color: rgba(9, 71, 71, 0.658);
 
}


.menu li a:hover {
  color: #ffffff;
}


.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 2em;
}

h1 {
  font-size: 3em;
}
h3 {
    font-size: 1em;
  }

.info-content span {
  color: aqua;
}

.download-cv {
    
  padding: 10px 20px;
  background-color: rgb(9, 40, 70);
  color: #fff;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.69);
  -moz-box-shadow: 10px 3px 11px -5px rgba(102, 231, 201, 0.767);
  box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.69);
}

.download-cv:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(5, 39, 54);
  box-shadow: none;
}

.main img {
  
  width: 95%;
  z-index: 1;
}



.about {
    background-color: #ffffff;
    background-image: url(imagenes/4.png);
  background-size: 70%;
  background-position: 400px;
  background-repeat: no-repeat;
   
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
}

.about img {
  width: 100%;
  grid-column: 1/5;
}

.about-info {
  grid-column: 5/10;
  padding: 3em;
 
}

.about-info h2 {
  font-size: 2em;
  color: #0f2e41;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: aqua;
  margin-top: 5px;
  margin-bottom: 2em;
}

.about p {
  margin-bottom: 1em;
  font-weight: bolder;
  color: #363636;
}

.tabs {
    list-style: none;
	 display: flex;
	 flex-flow: row wrap;
	 justify-content: flex-start;
}
.tabs:after {
    content: '';
    display: table;
    clear: both;
}
.tabs input[type=radio] {
    display:none;
}
.tabs label {
    display: inline-block;
    min-width: 25%;
	 flex: 1 1 25%;
    color: #ccc;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
    transition: all 0.5s;
}

.tabs label span {
    display: none;
	 font-size: 18px;
     font-weight: bold;
}

.tabs label:hover {
    color: #105a8b;
	
	 .icon {
      border-color: #12496d;
		
	} 
}

.tab__content {
    display: none;
	 text-align: center;
    width: 80%;
	 margin: 0 auto;
    box-sizing: border-box;
    background-color:#ffffff;
	 margin-top: 2rem;
}

.tab__content * {
    -webkit-animation: scale 0.2s ease-in-out;
    -moz-animation: scale 0.2s ease-in-out;
    animation: scale 0.2s ease-in-out;
}
@keyframes scale {
  0% {
    transform: scale(0.9);
    opacity: 0;
    }
  50% {
    transform: scale(1.01);
    opacity: 0.5;
    }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.tabs [id^="tab"]:checked + label {
    background: #FFF;
    color: #3498db;
}

.tabs [id^="tab"]:checked + label i {
    border-color: #1b6392;
	 
} 

#tab1:checked ~ #tab__content--1,
 #tab2:checked ~ #tab__content--2,
 #tab3:checked ~ #tab__content--3,
 #tab4:checked ~ #tab__content--4{
     display: block;
 }

@media (min-width: 768px) {
    .tabs label span {
        display: block;
    }
}
.project{
    margin:0;max-width:100%
}
.icon {
	margin-top: 1rem;
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	border: 1px solid #ffffff;
	background-size: 200px 150px;
	box-sizing: border-box;
}

.lady {
	background-image: url('imagenes/lady.png');
    background-size: 100%;
    background-position: center;
	
	
}

.especialista{
	background:url('imagenes/logoTuEspecialista.png');
    background-size: 100%;
    background-position: center;
}

.dif {
	background: url('imagenes/dif.png');
    background-size: 100%;
    background-position: center;
}

.mytea {
	background:  url('imagenes/logomytea.png');
	background-size: 100%;
    background-position: center;
}





.button-content {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.project-details-button a {
  text-decoration: none;
  color: #191c32;
}

 .tab__content p{
    margin-bottom: 2rem;
    font-weight: bold;
    color: #202020;
}


.contact-section {
  padding: 3em;
}

.container-contact {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.contact-section img {
  width: 750px;
  height: 700px;
  bottom: 0px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}
.form-group textarea {
  height: 150px;
  padding: 1.5em;
  background: none;
  border: 1px solid #fff;
  color: #fff;
}

.form-group .input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.form-group .btn-submit {
  padding: 10px 20px;
  margin: 1em;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  background-color: aqua;
}


.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  padding: 2em;
  background-color: aqua;
}

.footer-content h2 {
  font-size: 3em;
}

.footer-content h5 {
  font-size: 1.5em;
  text-align: center;
}

.sotial-networks {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

.sotial-networks i {
  font-size: 1.5em;
}




.button-content {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.project-details-button a {
  text-decoration: none;
  color: #191c32;
}

.contact-section {
  padding: 3em;
}

.container-contact {
  margin: 0 auto;
  margin-top: 10em;
}



.contact-section img {
  width: 750px;
  height: 700px;
  bottom: 0px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}
.form-group textarea {
  height: 150px;
  padding: 1.5em;
  background: none;
  border: 1px solid #fff;
  color: #fff;
}

.form-group .input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.form-group .btn-submit {
  padding: 10px 20px;
  margin: 1em;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  background-color: aqua;
}


.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  padding: 2em;
  background-color: rgb(10, 59, 78);
}

.footer-content h2 {
  font-size: 3em;
  color: #3498db;
}

.footer-content h5 {
  font-size: 1.5em;
  text-align: center;
  color: #ccc;
}

.sotial-networks {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

.sotial-networks i {
  font-size: 1.5em;
  color: #FFF;
}


